<!--TODO : THIS SHOWS ONLY PATIENTS OF LOGGED IN THERAPIST ATM. SHOULD BE ALL PATIENTS FOR THE SECRETARY-->
<section class="patientname">
    <div class="container">
        <div class="col-md-12">
            <div class="row underline">
                <h1 class="patient">Therapist overview</h1>
            </div>
        </div>
    </div>
</section>
<section class="overviewlist">
    <div class="container-fluid">
        <div class="col-md-10 offset-2">
            <div class="row">
                <div class="col-md-1 aligncenter">
                    <!--                    <span class="helper"></span><img class="backforwardbtn" src="../../assets/images/backbutton.svg" alt="Back">-->
                </div>
                <div *ngFor="let therapist of therapists" class="col-md-2 aligncenter grow patientbuttons">
                    <div routerLink="/therapists-patients-list" class="bluebutton patients ">
                        <img class="col-md-12 patientimg" src="../../assets/images/ProfileIcon.svg" alt="Patient">
                        <h2 class="optiontitle">{{ therapist }}</h2>
                    </div>
                </div>
                <div class="col-md-1 aligncenter">
                    <!--                    <span class="helper"></span><img class="backforwardbtn rotatedarrow" src="../../assets/images/backbutton.svg" alt="Forward">-->
                </div>
            </div>
        </div>
    </div>
</section>

