<div class="container">
    <div class="profilephoto">
        <img class="profilepic" src="../../assets/images/catdoc.jpg"/>
    </div>
    <div class="welcome">
        <h2>Welcome, Catdoc</h2>
    </div>
    <div class="main-nav">
        <a class="main-nav-item navstyle btn btn-custom" routerLink="profile" routerLinkActive="active">Main menu
        </a>
        <a class="main-nav-item navstyle btn btn-custom" routerLink="patient-overview" routerLinkActive="active">&nbsp;Patients
        </a>
        <a class="main-nav-item navstyle btn btn-custom" routerLink="patient-creation" routerLinkActive="active">&nbsp;Create new patient
        </a>

    </div>
</div>
<div class="privacy">
    <div class="main-nav-item btn btn-customlog"(click)="logout()">Log Out
    </div>
</div>
<div class="footer">
</div>
