
<table class="main-nav">
  <tr class="main-nav-item" routerLink="" (click)="hideMenu()"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Test 1</tr>
  <tr class="main-nav-item" routerLink="login" (click)="hideMenu()"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Really long test to see if it fits</tr>
  <tr class="main-nav-item" routerLink="" (click)="hideMenu()"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;another test</tr>
</table>

<div class="privacy">
  <i class="fa fa-user-secret"></i> Privacybeleid
</div>

<div class="footer">
</div>
