<section class="patientname">
    <div class="container">
        <div class="col-md-12">
            <div class="row underline">
                <h1 class="patient">Patient overview</h1>
            </div>
        </div>
    </div>
</section>
<section class="overviewlist">
            <div class="container-fluid">
                <div class="col-md-10 offset-2">
            <div class="row">
                <div class="col-md-1 aligncenter">
                </div>
                <div *ngFor="let patient of patients" class="col-md-2 aligncenter grow patientbuttons">
                    <div routerLink="/chart" class="bluebutton patients">
                        <img class="col-md-12 patientimg" src="../../assets/images/ProfileIcon.svg" alt="Patient">
                        <h2 class="optiontitle">{{ patient }}</h2>
                    </div>
                </div>
                <div class="col-md-1 aligncenter">
                </div>
            </div>
        </div>
    </div>
</section>

