.openmenu {
    display: block;
    position: fixed;
    overflow: hidden;
    margin: 5px;
    padding: 10px;
    font-size: 0;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    border-radius: 50px;
    z-index: 9999;
    background-color: lightgray;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
