/*Patient section*/

.backToOverview{
    width: 5%;
    margin-top: 2%;
    cursor: pointer;
}

/*patient options*/
.patientoptions{
    margin-top: 8%;
}

.optionimg{
    /*margin: 20px 0;*/
    padding: 50px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.35);
}

.optiontitle{
    font-size: 5vh;
    margin-top: 25px;
}
