<section class="patientname">
 <div class="container">
    <div class="col-md-12">
        <div class="row underline">
            <h1 class="patient">Patient name</h1>
        </div>
    </div>
 </div>
</section>
<section class="patientoptions">
    <div class="container-fluid">
        <div class="col-md-8 offset-3">
            <div class="row">
                <div class="col-md-4 aligncenter">
                    <div class="bluebutton">
                        <img class="optionimg col-md-12" src="../../assets/images/calfortest.png" alt="Calendar">
                        <!--Icon here-->
                    </div>
                    <h1 class="optiontitle">Patient profile</h1>
                </div>
                <div class="col-md-4 aligncenter">
                    <div class="bluebutton">
                        <img class="optionimg col-md-12" src="../../assets/images/calfortest.png" alt="Calendar">
                        <!--Icon here-->
                    </div>
                    <h1 class="optiontitle">Activity</h1>
                </div>
                <div class="col-md-4 aligncenter">
                    <div class="bluebutton">
                        <img class="optionimg col-md-12" src="../../assets/images/calfortest.png" alt="Calendar">
                        <!--Icon here-->
                    </div>
                    <h1 class="optiontitle">Calendar</h1>
                </div>
            </div>
        </div>
    </div>
</section>
