<div class="container">
    <div class="profilephoto">
        <img class="profilepic" src="../../assets/images/catdoc.jpg"/>
    </div>
    <div class="welcome">
        <h2>Welcome, Admin</h2>
    </div>
    <div class="main-nav">
        <a class="main-nav-item navstyle btn btn-custom" href="https://zfrmz.eu/knchGMWbcv0H4KA2nGVz" target="_blank" routerLinkActive="active">&nbsp;Create therapist
        </a>
        <a class="main-nav-item navstyle btn btn-custom" routerLink="user-overview" routerLinkActive="active">&nbsp;User overview
        </a>
        <a class="main-nav-item navstyle btn btn-custom" routerLink="reset-password" routerLinkActive="active">&nbsp;Change password
        </a>

    </div>
</div>
<div class="privacy">
    <div class="main-nav-item btn btn-customlog"(click)="logout()">Log Out
    </div>
</div>
<div class="footer">
</div>
