<section class="patientname">
    <div class="container">
        <div class="col-md-12">
            <div class="row underline">
                <h1 class="patient">Reset password</h1>
            </div>
        </div>
    </div>
</section>
<section class="createform">
    <div class="container-fluid">
        <div class="col-md-10 offset-2">
            <form class="text-center formmarg" [formGroup]="form">
                <div class=" col-md-6 offset-3">
                    <div class="bluebox">
                        <h1 class="">Reset password</h1>
                        <!--                        <label for="nameforpatientcreation">Name:</label>-->
                        <input class="form-control col-md-10 offset-1 mb-4 logform" id="oldPass" placeholder="Old password" formControlName="voornaam" type="text">
                        <input class="form-control col-md-10 offset-1 logform mb-4" id="newPass" placeholder="New password" type="text" formControlName="New password">
                        <input class="form-control col-md-10 offset-1 logform mb-4" id="newPass2" placeholder="New password" type="text" formControlName="New password">
                        <button class="btn logbtn col-md-10 offset-1 btn-info my-4 btn-block" (click)="createPatient()">Confirm</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
