.wrapper {
    background: #5abcdf;
    height: 100vh;
}

.bluetext {
    color: #17a2b8;
    margin-bottom: 5%;
}

.formmarg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 85vh;
}

.whitebox{
    background:rgba(255, 255, 255, 0.8);
    opacity:80%;
    -webkit-box-shadow: 3px 4px 14px -1px rgba(0,0,0,0.77);
    -moz-box-shadow: 3px 4px 14px -1px rgba(0,0,0,0.77);
    box-shadow: 3px 4px 14px -1px rgba(0,0,0,0.77);
    padding: 15px;
}
