.wrapper{
  background: #bdbdbd;
  height: 100vh;
}

.whitetext{
  color: #fff;
}

.formmarg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

